table.routesTable {
    table-layout: fixed;
    width: 600px;
}
table.routesTable th {
    text-decoration: underline;
}
table.routesTable td {
    width: 25%;
}
table.routesTable tr {
    text-align: center;
}